<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/auth/login.css">
  <title>로그인</title>
</head>

<body>
  <div class="main"> <!-- 큰 틀 -->
    <div class="mainTopBar"> <!-- 상단 툴 바 전체 -->
      <div class="topBarLog"> <!-- (로그인-회원가입)를 넣기 위한 틀 -->
        <div class="newUser"><button onclick=joinPage()>회원가입</button></div>
        <div class="login"><button onclick=loginPage()>로그인</button></div>
      </div>
      <!-- 로고 - 검색툴 - 지도와 내정보와 커뮤니티 이미지 -->
      <div class="topBarContent">
        <!-- 로고 -->
        <div class="logo">
          <button onclick=mainPage()>
            <img class="logoImg" src="/image/rogo.png" alt="로고">
          </button>
        </div>
        <!-- 검색툴 -->
        <div class="search">
          <input placeholder="검색어를 입력해주세요">
          <button>
            <img class="searchImg" src="/image/search.png" alt="검색">
          </button>
        </div>
        <!-- 지도와 내정보와 커뮤니티 이미지 -->
        <div class="topBarImg">
          <div class="topBarMap">
            <button onclick=mapPage()>
              <img class="mapImg" src="/image/mapmarker.png" alt="지도">
            </button>
          </div>
          <div class="topBarMyInformation">
            <button onclick=myInformationPage()>
              <img class="myInformationImg" src="/image/user.png" alt="내정보">
            </button>
          </div>
          <div class="topBarCommunity">
            <button onclick=communityPage()>
              <img class="communityImg" src="/image/community.png" alt="커뮤니티">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h2>로그인</h2>
    <form id="loginForm">
      <input type="text" placeholder="아이디" name="username" id="id">
      <input type="password" placeholder="비밀번호" name="password" id="password">
      <input type="checkbox" id="rememberMe"> 아이디 기억하기
      <button class="loginButton" type="button" onclick=requestLogin()>로그인</button>
    </form>
    <p>아직 회원이 아니신가요? <a href=join>회원가입</a></p>
  </div>
</body>
<script>
  const mainPage = () => location.href = "/";

  const joinPage = () => location.replace("/auth/join");
  const loginPage = () => location.replace("/auth/login");

  const mapPage = () => location.replace("/topbar/map");
  const myInformationPage = () => location.replace("/topbar/myInformation");
  const communityPage = () => location.replace("/topbar/community");

  // document.querySelector("#password").addEventListener("keyup", (event) => {
  //   if (event.keyCode === 13) {
  //     requestLogin();
  //   }
  // });

  document.querySelector("#password").addEventListener("keyup", (event) => {
    if (event.keyCode === 13) {
      if (!validateFields()) {
        return;
      }
      requestLogin();
    }
  });

  const requestLogin = () => {
    if (!validateFields()) {
      return;
    }

    const idElement = document.getElementById("id");
    const pwElement = document.getElementById("password");
    const rememberMeElement = document.getElementById("rememberMe");

    if (rememberMeElement.checked) {
      localStorage.setItem("rememberId", idElement.value);
    }

    // const loginForm = document.querySelector("#loginForm");
    // const loginFormData = new FormData(loginForm);

    // const loginParams = new URLSearchParams(loginFormData);

    const dto = {
      user: {
        id: document.getElementById("id").value,
        password: document.getElementById("password").value,
      },
    };

    fetch("/api/v1/auth/login", {
      method: "POST",
      headers: {
        "Content-Type": "application/json;charset=utf-8",
      },
      body: JSON.stringify(dto),
    })
      .then((response) => response.json())
      .then((result) => {
        alert(result.message);
        if (result.code === 0) {
          location.replace("/");
        } else if (result.code === 1) {
          idElement.focus();
        } else if (result.code === 2) {
          pwElement.focus();
        }
      })
      .catch((error) => {
        console.log(error);
      });
  };

  const validateFields = () => {
    const idElement = document.getElementById("id");
    const pwElement = document.getElementById("password");

    if (idElement.value === "") {
      // alert("아이디를 입력해주세요.");
      idElement.focus();
      return false;
    }
    if (pwElement.value === "") {
      // alert("비밀번호를 입력해주세요.");
      pwElement.focus();
      return false;
    }
    return true;
  };

  const setLoginPage = () => {
    const idElement = document.getElementById("id");
    const pwElement = document.getElementById("password");

    const rememberId = localStorage.getItem("rememberId");
    if (rememberId !== null) {
      const rememberMeElement = document.getElementById("rememberMe");

      idElement.value = rememberId;
      rememberMeElement.checked = true;
      pwElement.focus();
    } else {
      idElement.focus();
    }
  };
</script>
<script defer>
  setLoginPage();
</script>

</html>